html {
	background-color: #292B33;
	color: white;
	font: 14px/20px Helvetica, Arial;
	padding: 20px;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	margin: 1.236em 0 .618em;
}

canvas {
	background-color: #ddd;
}