@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin background-horizontal-gradient($color1, $color2) {
	background: $color1;
	background: -webkit-gradient(linear,left top,right top,color-stop(0%,$color1),color-stop(100%,$color2));
	background: -webkit-linear-gradient(left,$color1 0,$color2 100%);
	background: -webkit-gradient(linear,left top,right top,from($color1),to($color2));
	background: linear-gradient(to right,$color1 0,$color2 100%);
}

html {

	@include background-horizontal-gradient(#3CAAD7, #2a6fce);;
	color: #E7F3FF;;
	font: 14px/20px 'Lato', Helvetica, Arial;
	padding: 20px;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

h1 {
	color: white;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 20px 0 10px 0;
	text-align: center;
}

.view-source {
	font-size: 12px;
	margin-bottom: 30px;
	text-align: center;

	a {
		border-bottom: 1px dotted #ccc;
		color: #ddd;
		padding-bottom: 1px;
		text-decoration: none;
	}
}

.variation-a {
	color: #F1C40F;
}

.variation-b {
	color: #B6E2FF;
}

strong {
	font-weight: bold;
}

.form-container {

	form {
		float: left;
		margin-bottom: 15px;
		width: 600px;

		.header-row {
			margin-bottom: 5px;

			span {
				color: #eee;
				display: inline-block;
				text-align: center;
				width: 160px;
			}

			.participants {
				margin-left: 100px;
			}

			.conversions {
				margin-left: 50px;
			}
		}

		.label {
			font-size: 16px;
			margin-right: 20px;
		}

		.arrow {
			margin: 0 3px 0 5px;
		}

		input[type="text"] {
			border: 1px solid #eee;
			color: #555;
			font-size: 15px;
			margin: 2px;
			padding: 6px 4px;
			text-align: center;
			width: 160px;
		}
	}

	.copy-url {
		float: right;
		margin-top: 60px;

		// ZeroClipboard wraps the content in a span tag
		span {
			@include border-radius(3px);
			background: rgba(255, 255, 255, 0.15);
			border: 1px solid rgba(255, 255, 255, 0.6);
			color: #eee;
			cursor: pointer;
			display: block;
			font-size: 12px;
			padding: 8px 16px;

			// Prevent width from mysteriously shrinking milliseconds after page load
			min-width: 100px;

			&:hover, &.zeroclipboard-is-hover {
				background: rgba(255, 255, 255, 0.20);
			}
		}
	}
}

.results {
	clear: both;
	margin-top: 10px;

	.error {
		color: #F1BEBE;
		font-size: 21px;
		margin-top: 15px;
	}

	.graphs {
		margin-bottom: 15px;

		.graph {
			@include border-radius(10px);
			background-color: #3A5D80;
			display: inline-block;
			padding: 15px 0;
			width: 470px;

			h3 {
				font-size: 20px;
				font-weight: bold;
				text-align: center;
			}

			p {
				color: #ddd;
				line-height: 1.5em;
				padding: 0 20px;
				text-align: center;
			}

			&:first-of-type {
				margin-right: 20px;
			}
		}
	}

	.significance {
		@include border-radius(10px);
		background-color: #3A5D80;
		border: 1px solid darken(#3A5D80, 5%);
		font-size: 18px;
		line-height: 1.6em;
		padding: 15px 0;
		text-align: center;
	}
}
