@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

html {
	background-color: #3498DB;
	color: #E7F3FF;;
	font: 14px/20px Helvetica, Arial;
	padding: 20px;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

h1 {
	color: white;
	font-size: 36px;
	letter-spacing: 1px;
	margin: 20px 0 30px 0;
	text-align: center;
}

form {
	span {
		font-size: 16px;
		margin-right: 20px;
	}

	input[type="text"] {
		border: 1px solid #eee;
		color: #555;
		font-size: 15px;
		margin: 2px;
		padding: 6px 4px;
		text-align: center;
		width: 160px;
	}
}

.analysis {
	.graphs {
		margin: 15px 0;

		canvas {
			@include border-radius(10px);
			background-color: #2980B9;

			&:first-of-type {
				margin-right: 20px;
			}
		}
	}

	.significance {
		font-size: 21px;
		line-height: 1.6em;
		text-align: center;
	}

	.error {
		color: #F1BEBE;
		font-size: 21px;
		margin-top: 15px;
	}
}