/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
html {
  background-color: #3498DB;
  color: #E7F3FF;
  font: 14px/20px 'Lato', Helvetica, Arial;
  padding: 20px; }

.wrapper {
  margin: 0 auto;
  width: 960px; }

h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
  text-align: center; }

.variation-a {
  color: #F1C40F; }

.variation-b {
  color: #B6E2FF; }

strong {
  font-weight: bold; }

.form-container form {
  float: left;
  margin-bottom: 15px;
  width: 600px; }
  .form-container form span {
    font-size: 16px;
    margin-right: 20px; }
  .form-container form input[type="text"] {
    border: 1px solid #eee;
    color: #555;
    font-size: 15px;
    margin: 2px;
    padding: 6px 4px;
    text-align: center;
    width: 160px; }
.form-container .copy-url {
  float: right;
  margin-top: 40px; }
  .form-container .copy-url button {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #eee;
    font-size: 12px;
    padding: 5px 15px; }
    .form-container .copy-url button:hover {
      background: rgba(255, 255, 255, 0.2); }

.analysis {
  clear: both;
  margin-top: 10px; }
  .analysis .graphs {
    margin-bottom: 15px; }
    .analysis .graphs .graph {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      background-color: #2980B9;
      display: inline-block;
      width: 470px; }
      .analysis .graphs .graph h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
        text-align: center; }
      .analysis .graphs .graph h4 {
        color: #ddd;
        text-align: center; }
      .analysis .graphs .graph:first-of-type {
        margin-right: 20px; }
  .analysis .significance {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #3A5D80;
    border: 1px solid #32506e;
    font-size: 21px;
    line-height: 1.6em;
    padding: 15px 0;
    text-align: center; }
  .analysis .error {
    color: #F1BEBE;
    font-size: 21px;
    margin-top: 15px; }

.footer {
  color: #ddd;
  font-size: 12px;
  margin-top: 15px;
  text-align: center; }
  .footer a {
    border-bottom: 1px solid #bbb;
    color: #ddd;
    padding-bottom: 2px;
    text-decoration: none; }
    .footer a:hover {
      color: #eee; }
